<h3>Users</h3>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="server">
    <mat-header-cell *matHeaderCellDef> Server Url </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.server }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="accountId">
    <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.account.id }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="accountUsername">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.account.username }}
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.currentStatus }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<h3>Chatrooms</h3>
<mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="server">
    <mat-header-cell *matHeaderCellDef> Server Url </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.serverUrl }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Chatroom </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
</mat-table>
